<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kangaroo</title>
    <link rel="stylesheet" href="./css/kangaroo.css">
</head>

<body>
    <div id="kangaroo">
        <header>
            <div class="search">
                <input type="text" v-model="keyword" placeholder="Search in all bookmarks">
            </div>
        </header>
        <aside>
            <h1>kangaroo</h1>
            <nav>
                <folder v-for="bookmark in bookmarks.children" :bookmarks="bookmark"></folder>
            </nav>
        </aside>
        <main id="content">
            <ul>
                <li v-for="record in records">
                    <i @click="removeRecord(record.id)"></i>
                    <a :href="record.url" target="_blank">
                        <div class="cover" :style="{background:record.color}">
                            <div class="favicon">
                                <img :src="record.favicon" alt="">
                            </div>
                          <p>    {{record.domain}}</p>
                        </div>
                        <div class="title">
                            <p> {{record.title}}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </main>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/kangaroo.js"></script>
</body>

</html>