<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' data:;"> -->
    <title>Search Result Blocker</title>
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
      integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="../css/popup.css" />
  </head>
  <body>
    <main>
      <section>在当前网站启用: <input type="checkbox" name="" id="" /></section>
      <section>拦截次数：12</section>
      <section>拦截总数：2343</section>
      <button id="go-to-options">导出</button>
    </main>
    <script src="../js/xlsx.min.js"></script>
    <!-- <script src="../js/excel.min.js"></script> -->
    <!-- <script src="../js/jquery.min.js"></script> -->

    <script src="../js/popup.js"></script>
  </body>
</html>
